.mini-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.classic.mini-grid {
  border: solid 1px rebeccapurple;
}

.mini-header-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: mediumpurple;
  color: white;
  font-weight: bold;
}

.mini-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.mini-row.even {
    background-color: lavender;    
}

:host ::ng-deep .mini-header-cell {
  flex: 1 0 0;
  margin: 5px;
  text-align: left;
}

:host ::ng-deep .mini-cell {
  flex: 1 0 0;
  margin: 5px;
  text-align: left;
}
